<launch>
  <arg name="paused" value="false"/>
  <arg name="verbose" value="true"/>
  <arg name="world_name" default="$(find sjtu_drone)/worlds/search_and_rescue.world"/>
  
   <include file="$(find gazebo_ros)/launch/empty_world.launch" >
      <arg name="paused" value="$(arg paused)"/>
      <arg name="world_name" value="$(arg world_name)"/>
      <arg name="verbose" value="$(arg verbose)"/>
   </include>
   
   <param name="robot_description" command="cat '$(find auto_drone)/urdf/auto_drone.urdf'" />
   
   <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model sjtu_drone -x 0 -y 0 -z 0"
    respawn="false" output="screen" />
</launch>
